@page "/reversastring"

<h3>Revers A String</h3>

<div class="vstack gap-3 col-4 ">
    <InputText class="form-control" placeholder="Enter string" @bind-Value="message"></InputText>
    <div class="text-end">
        <button class= "btn btn-primary" @onclick="Revers">Revers me</button>
    </div>
    <hr/>
    <div>@displayMessage</div>
</div>


@code {
    private string message = "";
    private string displayMessage = "";

    private void Revers()
    {
        displayMessage = "";
        for (int i = message.Length - 1; i >= 0; i--)
        {
            displayMessage += message[i];
        }
    }
