.task {
    font-size: 1.5rem;
    border: 5px solid var(--bs-subtl-danger);
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3,#E0EAFC);
    background: linear-gradient(to right, #CFDEF3,#E0EAFC);
    border-radius: 10px;
    min-width: 35%;
}
